 body {
    font-family: verdana, sans-serif;
    font-size: 12px;
    }
  
  #header {
    background: #DBF1DF;
    padding: 20px;
    }
  
  #left_sidebar {
    float: left;
    width: 30%;
    }

  #right_sidebar {
    float: right;
    width: 30%;
    }
  
  #content {
    margin-right: 34%;
    margin-left: 34%;
    }
  
  #footer {
    clear: right;
    background: #DBF1DF;
    padding: 20px;
    }
  
