 body {
    font-family:"Segoe UI", sans-serif;
    color:#19191C;
    background:white;
    }

  p {
   font-size: 14px; 
   }

  #warning {
   background-color: #DBF1DF;
   }

  #header {
    background: #303033;
    padding: 20px;
    }
  
  #left_sidebar {
    float: left;
    width: 15%;
    border-right: 2px solid #D1D1D2;
    color: black;
    }

  #right_sidebar {
    float: right;
    width: 20%;
    border-left: 2px solid #D1D1D2;
    color: black;
    }
  
  #content {
    margin-right: 30%;
    margin-left: 25%;
    }
  
  #footer {
    clear: right;
    background: #303033;
    padding: 20px;
    }
  
  #header_text {
    color: white;
    font-size: 16px; 
    font-family:"Segoe UI",sans-serif;
    vertical-align: middle;
   }

   h1 {    
    font-size: 25px;
    }

   h2 {    
    font-size: 20px;
    }

   #instruction {
    border: solid;
    border-width: .1em .1em .1em .1em;
    border-color: grey;
   }
